# The Caddyfile is an easy way to configure your Caddy web server.
#
# Unless the file starts with a global options block, the first
# uncommented line is always the address of your site.
#
# To use your own domain name (with automatic HTTPS), first make
# sure your domain's A/AAAA DNS records are properly pointed to
# this machine's public IP, then replace the line below with your
# domain name.

{#

{{ leonafoto_url }} {
  route /gallery/* {
    uri strip_prefix /gallery
    file_server {
      root /var/www/leonafoto/images
    }
  }

  reverse_proxy localhost:3000

  header {
    Access-Control-Allow-Origin: {{ leonafoto_redirect_url }}
  }
}

{{ leonafoto_www_url }} {
  redir {{ leonafoto_redirect_url }}{uri} permanent
}

{{ monitorix_url }} {
  reverse_proxy localhost:8080
}

{{ umami_url }} {
  reverse_proxy localhost:3001
}

{{ demos_url }} {
   root * /var/www/slick-ui-demos/source
   file_server {
      browse
      hide .*
   }

   header {
     Access-Control-Allow-Origin: *
   }
}

#}

{{ fullstav_url }} {
  root * /var/www/fullstav
  file_server
  php_fastcgi unix//run/php/php8.2-fpm.sock
}
